.mac-book-air-landingwebpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Name1{
  text-align: left;
  height: 10px;
}
.mac-book-air-landingwebpage-mac-book-air-landingwebpage {
  width: 100%;
  height: 1015px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(15, 17, 36, 1);
}
.mac-book-air-landingwebpage-frame1 {
  top: -0.000009461834451940376px;
  left: 506.0000305175781px;
  width: 268px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(14, 7, 7, 1);
}
.mac-book-air-landingwebpage-frame2 {
  top: 326px;
  left: 465px;
  width: 333px;
  height: 403px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 255, 193, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(8, 12, 17, 1);
}
.mac-book-air-landingwebpage-text {
  top: 101px;
  left: 63px;
  color: rgba(0, 255, 193, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-frame5 {
  top: 241px;
  left: 46px;
  width: 244px;
  height: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 255, 193, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(10, 18, 24, 1);
}
.mac-book-air-landingwebpage-text02 {
  top: 7px;
  left: 20px;
  color: rgba(0, 255, 193, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-frame6 {
  top: 151px;
  left: 45px;
  width: 244px;
  height: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 255, 193, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(9, 17, 23, 1);
}
.mac-book-air-landingwebpage-text04 {
  top: 17px;
  left: 15px;
  color: rgba(0, 255, 193, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-image1 {
  top: 20px;
  left: 119px;
  width: 97px;
  height: 68px;
  position: absolute;
}
.mac-book-air-landingwebpage-frame7 {
  top: 349px;
  left: 85px;
  width: 156px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(109, 59, 252, 1);
}
.mac-book-air-landingwebpage-text06 {
  top: 353px;
  border-radius: 40px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Neuton;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-frame61 {
  top: 37px;
  left: 80px;
  width: 1138px;
  height: 117px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 255, 193, 0.75);
  border-style: solid;
  border-width: 1px;
  border-radius: 23px;
  background-color: rgba(16, 18, 36, 1);
}
.mac-book-air-landingwebpage-text08 {
  top: 24px;
  left: 256px;
  color: rgb(255, 255, 255);
  width: 663px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Extra Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text09 {
  color: #ffffff;
  font-weight: 300;
}
.mac-book-air-landingwebpage-text10 {
  color: #00ffc1;
}
.mac-book-air-landingwebpage-image2 {
  left: 797px;
  width: 45px;
  bottom: 43px;
  height: 44px;
  position: absolute;
  border-radius: 60px;
}
.mac-book-air-landingwebpage-text11 {
  color: rgba(0, 255, 193, 1);
  right: -36px;
  width: 215px;
  bottom: 11px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: center;
  font-family: Neuton;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text13 {
  top: 75px;
  left: 16px;
  color: rgb(0, 255, 193);
  width: 444px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Neuton;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-container1 {
  top: 321px;
  left: 976px;
  width: 139px;
  height: 142px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mac-book-air-landingwebpage-image3 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 139px;
  height: 142px;
  position: absolute;
}
.mac-book-air-landingwebpage-image4 {
  top: 604px;
  left: 156px;
  width: 153px;
  height: 144px;
  position: absolute;
}
.mac-book-air-landingwebpage-image5 {
  top: 316px;
  left: 90px;
  width: 127px;
  height: 116px;
  position: absolute;
}
.mac-book-air-landingwebpage-image6 {
  top: 583px;
  right: 76px;
  width: 135px;
  height: 122px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-air-landingwebpage-text14 {
  left: -4px;
  color: rgba(0, 255, 193, 0.25);
  width: 860px;
  bottom: 25px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Neuton;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text15 {
  top: 449px;
  left: 60px;
  color: rgba(0, 255, 194, 0.8);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text16 {
  top: 764px;
  left: 181px;
  color: rgba(0, 255, 194, 0.800000011920929);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text18 {
  top: 637px;
  left: 313px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text20 {
  top: 454px;
  color: rgba(0, 255, 194, 0.8);
  right: 51px;
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text21 {
  top: 714px;
  color: rgba(0, 255, 194, 0.800000011920929);
  right: 30px;
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text23 {
  color: rgba(0, 255, 193, 0.25);
  right: 6px;
  width: 363px;
  bottom: 25px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Neuton;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-image7 {
  right: 46px;
  width: 38px;
  bottom: 21px;
  height: 33px;
  position: absolute;
}
.mac-book-air-landingwebpage-text25 {
  top: 386px;
  left: 216px;
  color: rgba(255, 255, 255, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text27 {
  top: 637px;
  left: 797px;
  color: rgba(255, 255, 255, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air-landingwebpage-text29 {
  top: 374px;
  left: 770px;
  color: rgba(255, 255, 255, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
